<div class="my-1">
    <mat-checkbox>Check me!</mat-checkbox>
    <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
</div>
<div class="my-1">
    <mat-checkbox
        [checked]="allCompleted"
        [color]="task.color"
        [indeterminate]="someCompleted()"
        (change)="setAll($event.checked)"
    >
        {{ task.name }}
    </mat-checkbox>
    <br>
    <div class="my-1" *ngFor="let subtask of task.subtasks">
        <mat-checkbox
            [(ngModel)]="subtask.completed"
            [color]="subtask.color"
            labelPosition="before"
            (ngModelChange)="updateAllCompleted()"
        >
            {{ subtask.name }}
        </mat-checkbox>
    </div>
</div>
{{ task.subtasks | json }}


<div class="my-1" [formGroup]="form">
    <p><mat-checkbox formControlName="control1">Checkbox 1</mat-checkbox></p>
    <p><mat-checkbox formControlName="control2">Checkbox 2</mat-checkbox></p>
    <p><mat-checkbox formControlName="control3">Checkbox 3</mat-checkbox></p>
</div>
{{ form.value | json }}
