<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<form>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput [formControl]="nameControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  {{ nameControl.value }}
</form>
<form>
  <input type="text" [formControl]="nameControl2" [matAutocomplete]="auto2">
  <mat-autocomplete #auto2="matAutocomplete" autoActiveFirstOption>
    <mat-option *ngFor="let option of options" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
  {{ nameControl2.value }}
</form>
<p><span matBadge="4" [matBadgeOverlap]="false">text text</span></p>
<p><span matBadge="4" matBadgeSize="large">text with large badge</span></p>

<p>Button with a badge
  <button 
    mat-raised-button 
    color="primary"
    matBadge="8"
    matBadgePosition="below before"
    matBadgeColor="accent"
  >
    Action
  </button>
</p>

<p>Button with a badge
  <button 
    mat-raised-button 
    color="primary"
    matBadge="8"
    matBadgeColor="accent"
    [matBadgeHidden]="hidden"
    (click)="toggleBadge()"
  >
    Show/Hide Badge
  </button>
</p>

<p>
  icon with a badge
  <mat-icon matBadge="10" matBadgeColor="warn">home</mat-icon>
</p> -->

<!-- <div style="margin-top: 1rem;margin-bottom: 1rem">
  <button mat-button>Basic</button>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn">Warn</button>
  <button mat-button disabled>Disabled</button>
  <a href="#" mat-button>Link</a>
</div>

<div style="margin-top: 1rem;margin-bottom: 1rem">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a href="#" mat-raised-button>Link</a>
</div>

<div style="margin-top: 1rem;margin-bottom: 1rem">
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a href="#" mat-stroked-button>Link</a>
</div>

<div style="margin-top: 1rem;margin-bottom: 1rem">
  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>
  <a href="#" mat-flat-button>Link</a>
</div>

<div style="margin-top: 1rem;margin-bottom: 1rem">
  <button mat-icon-button color="primary">
    <mat-icon>more_vert</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button disabled>
    <mat-icon>favorite</mat-icon>
  </button>
  <a href="#" mat-icon-button>
    <mat-icon>open_in_new</mat-icon>
  </a>
</div>

<div style="margin-top: 1rem;margin-bottom: 1rem">
  <button mat-fab color="primary">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-fab color="accent">
    <mat-icon>bookmark</mat-icon>
  </button>
  <button mat-fab color="warn">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-fab disabled>
    <mat-icon>favorite</mat-icon>
  </button>
</div>

<div style="margin-top: 1rem;margin-bottom: 1rem">
  <button mat-mini-fab color="primary">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-mini-fab color="accent">
    <mat-icon>bookmark</mat-icon>
  </button>
  <button mat-mini-fab color="warn">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-mini-fab disabled>
    <mat-icon>favorite</mat-icon>
  </button>
</div> -->
<!-- 
<mat-button-toggle-group [(ngModel)]="fontStyle">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>

<mat-button-toggle-group multiple vertical>
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>

<mat-button-toggle-group appearance="legacy" [formControl]="fontStyleControl">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>

<div>ngModel: {{ fontStyle }}</div>
<div>Form Control: {{ fontStyleControl.value }}</div> -->

<!-- <mat-card>Simple Card</mat-card>

<mat-card>
  <mat-card-title>Action Buttons</mat-card-title>
  <mat-card-subtitle>This is a subtitle</mat-card-subtitle>
  <mat-card-actions>
    <button mat-raised-button>Add</button>
    <button mat-raised-button>Update</button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card>
  <mat-card-title>Action Buttons</mat-card-title>
  <mat-card-subtitle>This is a subtitle</mat-card-subtitle>
  <mat-card-actions align="end">
    <button mat-raised-button>Add</button>
    <button mat-raised-button>Update</button>
  </mat-card-actions>
</mat-card> -->

<!-- <mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="https://cdn.britannica.com/84/73184-004-E5A450B5/Sunflower-field-Fargo-North-Dakota.jpg">
    <mat-card-title>Action Buttons</mat-card-title>
    <mat-card-subtitle>This is a subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    This is some content
  </mat-card-content>
  <img mat-card-image src="https://cdn.britannica.com/84/73184-004-E5A450B5/Sunflower-field-Fargo-North-Dakota.jpg">
  <mat-card-actions align="end">
    <button mat-raised-button>Add</button>
    <button mat-raised-button>Update</button>
  </mat-card-actions>
</mat-card> -->

<mat-card class="example-card">
  <mat-card-subtitle>This is a subtitle</mat-card-subtitle>
  <mat-card-title>This is a title</mat-card-title>
  <mat-card-content>{{ longText }}</mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-raised-button>Add</button>
    <button mat-raised-button>Update</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
